.topnav {
    background-color: rgba(92, 91, 91, 0);
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .SearchBar{
    float: right;
    font-size: x-large;

  }

  .TextBox{
    background-image: url("GreyBox.jpg");
    margin:50px


  }

  .footer {
    background-color: rgb(92, 91, 91);
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .footer a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .footer a:hover {
    background-color: rgb(49, 49, 49);
    color: black;
  }